@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f7f9fc;
    background-image: url('/wave1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
  }
  .c-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
}
